<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkingFruit.admin.mapper.MusVoiceDao">

	<select id="getCountByQuery" resultType="java.lang.Integer">
		select count(`id`)
		from `t_fishbook_music_musvoice`
		where 1=1
		<if test="queryMap.name != null and queryMap.name != ''">
			and `name` like CONCAT('%',#{queryMap.name},'%')
		</if>
		<if test="queryMap.state != null and queryMap.state != ''">
			and `state` = #{queryMap.state}
		</if>
		<if test="queryMap.startTime != null and queryMap.startTime != ''">
      <![CDATA[ and `createTime` > #{queryMap.startTime} ]]>
		</if>
		<if test="queryMap.endTime != null and queryMap.endTime != ''">
       <![CDATA[ and `createTime` < #{queryMap.endTime} ]]>
		</if>
	</select>

	<select id="paginationMusvoice"
		resultType="com.thinkingFruit.admin.entity.MusVoice">
		select
		`id`,`name`,`author`,`desc`,`imagePath`,`videoPath`,`createTime`
		from
		`t_fishbook_music_musvoice`
		<where>
			1=1
			<if test="queryMap.name != null and queryMap.name != ''">
				and `name` like CONCAT('%',#{queryMap.name},'%')
			</if>
			<if test="queryMap.startTime != null and queryMap.startTime != ''">
      <![CDATA[ and `createTime` > #{queryMap.startTime} ]]>
			</if>
			<if test="queryMap.endTime != null and queryMap.endTime != ''">
       <![CDATA[ and `createTime` < #{queryMap.endTime} ]]>
			</if>
		</where>
	</select>

	<delete id="deleteMusvoice">
		delete from `t_fishbook_music_musvoice`
		where `id` =
		#{id}
	</delete>

	<insert id="addMusvoice">
		insert into
		`t_fishbook_music_musvoice`(`name`,`author`,`desc`,`imagePath`,`videoPath`,`createTime`)
		values(#{musvoice.name},#{musvoice.author},#{musvoice.desc},#{musvoice.imagePath},#{musvoice.videoPath},now())
	</insert>

	<select id="findMusvoiceById"
		resultType="com.thinkingFruit.admin.entity.MusVoice">
		select
		`id`,`name`,`author`,`imagePath`,`videoPath`,`desc`,`createTime`
		from
		`t_fishbook_music_musvoice`
		where `id` = #{id}
	</select>

	<update id="editMusvoice">
		update `t_fishbook_music_musvoice`
		<set>
			`name` = #{musvoice.name},
			`author` = #{musvoice.author},
			`desc` = #{musvoice.desc},
			`imagePath` = #{musvoice.imagePath},
			`videoPath` = #{musvoice.videoPath},

		</set>
		where `id` = #{musvoice.id}
	</update>

</mapper>